*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "微软雅黑",sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 300px;
    height: 520px;
}
.avatar {
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 100%;

}
.name {
    color: #1f2f4d; 
    margin: 20px 0 15px;
    font-size: 18px;
    font-weight: bold; 
}
.text {
    color: #7b879d; 
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}
