body {
    font-family: "微软雅黑",sans-serif;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    margin: 15% 0 15% 0;
}
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 200px;
    height: 350px;
}
.avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}
.name {
    color:#333;
    margin-bottom: 5px;
}
.text {
    color: #666;
    font-size: 1.1em;
    margin-bottom: 15px;
}
